
<div class="row">
  <div class="col-4">
    <div  class="card">
      <img src="../../../assets/predator.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">
          adidas: Botines Deportivo Predator Multiterreno</h5>
      <p class="card-text">botines con tapones de gomas, precio$25.0000</p>
        </div>
    </div>
  </div>
  <div class="col-4">
    <div  class="card">
    <img src="../../../assets/botines2.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">
        adidas :Botines Predator Edge.3 Terreno Firme</h5>
      <p class="card-text">botines con tapones de gomas, precio$35.0000</p>
      </div>
  </div>
</div>
<div class="col-4">
  <div  class="card">
  <img src="../../../assets/botines4.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">
      adidas: Botines Deportivo Multiterreno</h5>
    <p class="card-text">botines con tapones de gomas, precio$15.0000</p>
    </div>
</div>
</div>

</div>
